* {
  padding: 0;
  margin:0;
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
  height: 100%;
}

p {
  font-size: 20px;
  line-height: 1.2;
}

/*Header and navigation*/
header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #647AA3;
  color: #fff;
}

header h1, header nav {
  margin: 20px;
}

header h1 {
  font-weight: 100;
}

header nav a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
  font-size: 18px;
}

/*Hero image, text and button*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/zara-aitken.png");
  background-repeat: no-repeat;
  height: 75%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

section h2 {
  margin: 15px;
  font-size: 50px;
  font-weight: 100;
}

/*
section button {
  margin: 15px;
  background-color: #C6EBBE;
  color: black;
  padding: 10px;
  border: none;
  font-size: 20px; 
}*/

.profile {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  height: 600px;
}

.profile-photo {
  display: grid;
  height: 400px;
  width: 400px;
  justify-self: center;
  align-self: center;
  margin: auto;
}

.contact-info {
  display: grid;
  justify-self: center;
  align-self: center;
  width: 70%;
}

.h3-bio, .h3-contact {
  font-size: 25px;
  margin: 15px 0 5px 0;
}

.tel, .email, .bio-info {
  margin: 15px 15px 15px 0;
}

/*Portfolio grid*/
.portfolio-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin: 5%;
  grid-template-areas:
  "portfolio-one portfolio-one portfolio-one"
  "portfolio-two portfolio-two portfolio-three"
}

.portfolio-one {
  display: grid;
  max-width: 100%;
  grid-area: portfolio-one;
  background-image: url(../images/landing-page.jpg);
  color: white;
  height: 500px;
  background-position: top;
  background-size: cover;
  cursor: pointer;
}

.portfolio-two {
  display: grid;
  max-width: 100%;
  grid-area: portfolio-two;
  background-image: url(../images/passport-for-living.jpg);
  color: white;
  height: 300px;
  background-position: top;
  background-size: cover;
  cursor: pointer;
}

.portfolio-three {
  display: grid;
  max-width: 100%;
  grid-area: portfolio-three;
  background-image: url(../images/artwave-west.jpg);
  color: white;
  height: 300px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.portfolio-h3 {
  display: flex;
  justify-items: flex-start;
  align-self: flex-end;
  padding: 20px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 30px;
}

footer {
  background-color: #647AA3;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*Media Queries*/
@media screen and (max-width: 800px){

  .portfolio-images {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero-image {
    height: 50%;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 950px;
  }
}

@media screen and (max-width: 640px){

  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #647AA3;
    color: #fff;
  }

  header h1, header nav {
    margin: 15px;
  }

  header nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 15px;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/zara-aitken.png");
    background-repeat: no-repeat;
    height: 50%;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section h2 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    margin: 10px;
    font-size: 30px;
    font-weight: 100;
  }

  .portfolio-h3 {
    font-size: 20px;
  }
}